#title{
  background-color: #ff4c68;
  color:white;

}
h1
{
font-family: "Montserrat";

  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
h2
{
  font-family: "Montserrat";
font-weight: 600;
font-size: 3rem;
  line-height: 1.5;
}
  h3
  {
      font-size: 1.5rem;
      font-weight: bold;
  }
.container-fluid
{


  padding: 3% 15% 7%;
}

body{
  font-family: "Montserrat";
}
/*navbar*/
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item
{
  padding: 0 18px;
}
.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat";
}
/* Download_Btutton */
.download-button
{
  margin: 5% 3% 5% 0;
}
/* title image */
.title-images{
  width: 60%;
   transform: rotate(25deg);

    position: absolute;
    right:30%;
}
/* font icon */
.i1
{
  color:#ef8172;
  margin-bottom: 1rem;

}
.i1:hover
{
    color:#ff4c68;
}
#features
{

padding: 7% 15%;
background-color: #fff;
position:relative;
z-index: 1;
}

.feature-box
{
  text-align: center;
  padding: 4%;
}
p{
  color: #8f8f8f;
}
/* Testimonial */
#testimonials
{

  text-align: center;
  background-color:#ff4c68;
  color:#FFF;



}
.testimonial-image{
  width:10%;
border-radius: 100%;
margin:20px;
}
#press
{
    background-color:#ff4c68;
    text-align: center;
    padding-bottom:3%;
}
.press-logo
{
  width: 15%;
  margin:20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
.b{
  width: 100%;
}
/* pricing */
#pricing
{
  padding:100px;
  text-align: center;
}
.pricing-coloumn
{
padding: 3% 2%;
}
@media (max-width :1028px)
{
  .title-images{
    position: static;
    transform: rotate(0);
  }
#title{
  text-align: center;
}
}
/* cta */
#cta
{
    background-color:#ff4c68;
        text-align: center;
color: #FFF;
padding: 6%;
}
.t{
width :10%;
}
.cta-sec
{
  width: 70%;
        text-align: center;
        margin:auto;
}
/* footer */
#footer
{
  text-align: center;
padding-top: 5%;
background-color: #FFF;
}
.ic
{
  padding: 10px;
}
.p1{
  font-size: 15px;
}
.ico{
  padding-bottom: 10px;
}
